@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">    
    <p class="lead">Welcome, have fun !</p>
    <p><a href="/Books" class="btn btn-primary btn-lg">See all the books &raquo;</a></p>
    <p><a href="/Authors" class="btn btn-primary btn-lg">Authors &raquo;</a></p>
    <p><a href="/Categories" class="btn btn-primary btn-lg">Categories &raquo;</a></p>

</div>

