<div class="jumbotron">    
    <p class="lead">Library API</p>
    <p><a href="api/book" class="btn btn-primary btn-lg">books</a></p>
    <p><a href="api/book/category/2" class="btn btn-primary btn-lg">books in Biography</a></p>
    <p><a href="api/book/author/3" class="btn btn-primary btn-lg">books by Maria Lopez</a></p>
</div>

